* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;

}

header, nav, li{
  background-color: #c2c5c5;
  list-style-type: none;
  color: #352828;
  
}

  

.hero-banner{
  color: #dd1b1b;
  font-style: italic;
  font-weight: bold;
  font-size: 20px;
}

div > h2{
  grid-area: hero;
}


.page-wrapper{}




.page-section{}




.contact{}















h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
