* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* background: #e3eaea; */
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: yellow;
}
/* images */
img{
  height: 200px;
  width: 200px;
}

header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
 align-items: flex-end;
  /* padding: 0 10px 5px 2px;  */
  background-color: #c2d5d5;
  width: 100%;
  height: 100px; */
  /* background-image: url("../images/02-hero-bg.jpg"); */
  /* background-size: auto ; */
  /* font-family: Arial, Helvetica, sans-serif; */
}
  
 
/* styles */
h1{
  font-size: 40px;
  color: #ffffff;
  font-weight: bold;
  padding: 0 2%;
  /* background-color: #c2d5d5; */
}


/* ids */
/* usinng flexbox to position items in header - logo name and menu items */
#h1{
  
}

#nav{
  
  /* width: 100%;
  height: 100px; */
  /* background-color: #c2d5d5; */
}





/* classes */
ul li{
  display: inline-block;
  list-style-type: none; 
  background-color: rgb(43, 98, 123);
}

ul li a{
  /* display: block; */
  text-decoration: none;
  padding: 0 2px;
  color: #ffffff;
  font-size: 20px;
  /* margin: 20px; */
}

/* changes text colour when hovering over menu items */
ul li a:hover{
  color: #ff0000;
}

.hero-banner{
  width: 100%;
  height: 200px;
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
 

}
/* moving hero banner(h2) statement using position with block element h2 */
div h2{
  position:absolute;
  top:140px; left: 800px;
  color: #ff0000;
  font-weight: bolder;
  font-size: 40px;
}


  
}
section{}

ul, li{}


h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* creating css grid */

.page-wrapper{
display: grid;
grid-template-columns: 1fr 1fr 1fr;
grid-template-rows:20% 1fr 1fr 1fr 1fr 1fr;
grid-template-areas:
"aboutme aboutme aboutme"
"aboutme aboutme aboutme"
"work pf-itm-1 pf-itm-2" 
"work pf-itm-3 pf-itm-4"
"work pf-itm-5 pf-itm-6"
"contact contact contact";

}

#about{
  background-color: #bdc1c1;
  grid-area: aboutme;
}

#work{
  background-color:#9fa49e;
  grid-area: work
}

#contact{
  background-color: aquamarine;
  grid-area: contact ;
}